logCategoryPath=/data/log/trade/
offsetFilePath=/data/log/offset
tempSqlFilePath=/data/log/sql.temp
rules=\(common\/protocol\/Protocol\.class\.php\:unpack\|common\/net\/HTTP\.class\.php\:send\).*
maxSqlLinesTosave=100